* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 15px 200px 100px;
    background-color: #1f2937;
    gap: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: azure;
}

.header h1 {
    margin: 0px auto 0px 15px;
    flex: 1 0 auto;
}
.header img {
    border-radius: 50%;
    height: 70px;
    width: auto;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
}

.header li {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 auto;
}

.header ul img {
    height: 40px;
    width: auto;
}

.header a {
    color: azure;
    font-size: 20px;
    transition-duration: .2s;
}
.header a:hover {
    color: #3882f6;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    gap: 40px;
    color: azure;
    justify-content: space-between;
}

.intro h1 {
    font-size: 48px;
    margin: 0;
    flex: 1 0 auto;
}

.intro div {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    flex: 1 0 auto;
    justify-content: center;
}

.intro p {
    font-size: 26px;
    color: #e5e7eb;
    flex: 1 0 auto;
}

.intro img {
    height: 350px;
    width: auto;
    margin: 10px auto;
    border-radius: 8px;
}

 .button {
    display: flex;
    height: 35px;
    width: 125px;
    border-radius: 8px;
    color: white;
    background-color: #0088dd;
    font-weight: 800;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    transition-duration: 50ms;
}

.button:hover {
    border: 2px solid white;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
}

.actual-info {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.actual-info div{
    display: flex;
    flex-direction:  column;
    width: 300px;
    flex: 0 1 auto;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.actual-info img {
    box-sizing: initial;
    width: 300px;
    height: auto;
    align-self: center;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.actual-info img:hover {
    transform: scale(1.05);
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex: 1;
    padding: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    flex: 0;
    width: 800px;
    gap: 15px;
    
}

.quote-section p {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}
.quoter {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}


